<!-- home.html -->

{% extends "poll/base.html" %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block main %}

<div class="row">
    <div class="col-lg-10 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Available Polls</h3>
                <img class="image_home" src='{% static "img/survey.jpg" %}' width="200px" alt="">
            </div>

            <ul class="list-group">
                {% for poll in polls %}
                <li class="list-group-item">
                    <strong>{{poll.question}}</strong>
                    <span class="pull-right">
                        <a href="{% url 'vote' poll.id %}" class="btn btn-info btn-xs">Vote</a> &nbsp;
                        <a href="{% url 'results' poll.id %}" class="btn btn-default btn-xs">View Results</a> &nbsp;
                    </span>
                </li>
                {% endfor %}
            
                
                <li class="list-group-item">
                    <strong>Which operating system do you use?</strong>
                    <span class="pull-right">
                        <a href="#" class="btn btn-info btn-xs">Vote</a> &nbsp;
                        <a href="#" class="btn btn-default btn-xs">View Results</a> &nbsp;
                    </span>
                </li>
            </ul>
            
           
        </div>
        
    </div>
</div>
{% endblock %}